<div class="container">
  <div class="row">
    <div class="col">
     <section class="about-content">
      <h1 class="about-title">About</h1>
       <p class="about-text">ながのCAKEは全国発送可能なケーキ屋さんです。<br />
      お子様からお年寄りの方までお召し上がりいただけるよう、<br />
      様々なバリエーションをご用意しております。<br />
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br />
      ぜひご注文ください。
      </p>

    <div class="about-image mx-auto">
    　<%= image_tag "24883690_s.jpg",size:"400x200" %>
    </div>
      </section>
      </div>
  </div>
</div>