<div class="col-md-8 col-offset-1 mt-4">
      <section class="main-visual">
        <div class="mv-content">
          <h2 class="mv-title">ようこそ、ながのCAKEへ！</h2>
          <p class="mv-text">
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </section>
      <section class="new-products mt-4">
        <h2 class="new-products-title mb-3 color_text">新着商品</h2>
          <div class="col-12">
            <div class="row">
