<div class="container">
  <div class="row mt-5">
    <dv class="col-md-12 text-center mt-5">
      <h2 class="my-5">ご注文ありがとうございました！</h2>
      <%= link_to "",root_path, class: "btn btn-log btn-next mt-4" %>
    </dv>
    <div class="m-5"></div>
  </div>
</div>